


body{ 
	color: rgb(0, 0, 0); 
	font-family: Franklin Gothic Medium; 
}


#id_313490{ 
	color: rgb(0, 0, 0); 
	font-family: Franklin Gothic Medium; 
	font-size: 80px; 
	padding-left: 100px; 
	padding-top: 50px; 
}


#id_313491{ 
	color: rgb(125, 123, 123); 
	font-family: Franklin Gothic Medium; 
	font-size: 35px; 
	padding-bottom: 100px; 
	padding-left: 100px; 
}


#id_313497{ 
	background-color: rgb(33, 6, 119); 
	color: rgb(0, 0, 0); 
}


#id_313498{ 
	color: rgb(0, 0, 0); 
	font-family: Franklin Gothic Medium; 
	font-size: 40px; 
	line-height: 50px; 
	margin-left: 200px; 
	margin-top: 25px; 
}


#id_313499{ 
	background-color: rgb(0, 46, 254); 
	clear: none; 
	color: rgb(255, 255, 255); 
	float: none; 
	font-size: 20px; 
	margin-bottom: 25px; 
	margin-left: 50px; 
	padding-bottom: 25px; 
	padding-left: 25px; 
	padding-right: 25px; 
	padding-top: 25px; 
}


#id_313500{ 
	color: rgb(0, 0, 0); 
	font-family: Franklin Gothic Medium; 
	font-size: 50px; 
	font-weight: bolder; 
	margin-left: 100px; 
	margin-top: 100px; 
	text-align: left; 
}


#id_313502{ 
	color: rgb(0, 0, 0); 
	font-family: Constantia; 
	font-size: 25px; 
	margin-bottom: 100px; 
	margin-left: 100px; 
	margin-right: 200px; 
	margin-top: 20px; 
	text-align: left; 
	text-indent: 25px; 
}


#id_313512{ 
	background-color: rgb(33, 6, 119); 
	color: rgb(255, 255, 255); 
	font-family: Franklin Gothic Medium; 
	font-size: 80px; 
	padding-bottom: 400px; 
	padding-left: 100px; 
	padding-right: 100px; 
	padding-top: 100px; 
}


#id_313514{ 
	color: rgb(0, 0, 0); 
	font-family: Franklin Gothic Medium; 
	font-size: 60px;
	line-height: 50px;
	margin-top: 100px;

}

