<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<link href={{link}} rel="stylesheet" type="text/css">
		<meta charset="UTF-8">

						
					</head>
	<body>
		<h1 id="id_313490">
Укорачиватель ссылок
</h1>
<div id="id_313491">
сайт для удобной передачи ссылок
</div>
<form class="login_form" method="post" id="id_313497">
<input id="id_313498" name="long_url" type="text">

		</input>
		<button id="id_313499" class="class8664">
Получить короткую ссылку
		</button>
</form>
<div id="id_313500">
Как это работает?
</div>
<div id="id_313502">
Когда вы передаёте нам длинную ссылку, мы создаём сгенерированную последовательность символов - токен, уникальный для каждой ссылке и сохраняем её в базе данных. Дальше при попытке пользователя пройти на сайт с таким токеном, мы обращаемся к базе данных и переотправляем его на исходный сайт.
Но короткие ссылки не вечны. Через год они удаляются из базы данных, и переход по ним приведёт к ошибке.
</div>

	</body>
</html>